{% extends '@Modules/drsoftfrrecaptcha/views/templates/admin/base.html.twig' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col">
            {% include '@Modules/drsoftfrrecaptcha/views/templates/admin/layout/_form.html.twig' %}
        </div>
    </div>
{% endblock %}
